<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>
    .container {
        display: flex;
        justify-content: space-evenly;
        align-items: baseline;
    }
    h3, h1 {
        text-align: center;
    }
</style>
<body>
    <h1>Login and Registration</h1>
    <div class="container">
        <div class="left-box">
            <h3>Register here!</h3>
            <form action="/register" method = "post">
            <p>
                First Name: 
                <input type="text" name = "first_name" placeholder="First Name">
            </p>
            <p>
                Last Name:
                <input type="text" name = "last_name" placeholder="Last Name">
            </p>
            <p>
                Email: 
                <input type="text" name = "email" placeholder="Email">
            </p>
            <p>
                Password:
                <input type="password" name = "password" placeholder="Password">
            </p>
            <p>
                Confirm Password:
                <input type="password" name = "confirm_password" placeholder="Confirm Password">
            </p>
            <button>Register</button>
            </form>
        </div>
        <div class="right-box">
            <h3>Login Here!</h3>
            <form action="/login" method = "post">
                <p>
                    Email:
                    <input type="text" name = "email" placeholder="Email">
                </p>
                <p>
                    Password:
                    <input type="text" name = "password" placeholder="Password">
                </p>
                <button>Login!</button>
            </form>
        </div>
    </div>
    <div class="flash">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
        
</body>
</html>