<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructions</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="header">
        <h1>Welcome, you've been logged in {{user.first_name}}</h1>
        <h3>{{recipe.name}}</h3>
    </div>
    <div class="header2">
        <a href="/user/dashboard">dashboard</a>
        <a href="/logout">logout</a>
    </div>  
    <div class="description">
        <p>
            Description:
            {{recipe.description}}
        </p>
        <p>
            Under 30 Minutes:
            {{recipe.under_30_minutes}}
        </p>
        <p>
            Instructions:
            {{recipe.instructions}}
        </p>
        <p>
            Date Made:
            {{recipe.date_made}}
        </p>
    </div>
</body>
</html>