<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header {
        margin-left: -18em;
    }
    .header2 {
        margin-left: -14em;
    }
    a {
        text-decoration: underline;
    }
</style>
<body>
    <div class="container">
        <div class="header">
            <h1>Sasquatch Websighting</h1>
            <h3>Reported Sightings:</h3>
        </div>
        <div class="header2">
            <p>
                {{user.first_name}} {{user.last_name}}
            </p>
            <a href="/sighting/new">Report a Sighting</a> |
            <a href="/logout">logout</a>
        </div>
    </div>  
    <table class="table table-striped table-dark table-hover">
        <thead>
            <th>Location and Date of Sighting</th>
            <th>Reported By:</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {% for sighting in all_sightings %}
            <tr>
                <td>
                    {{sighting.location}} - {{sighting.date_of_sighting}}
                </td>
                <td>
                    Reported By: {{sighting.user.first_name}} {{sighting.user.last_name}}
                </td>
                <td>
                    <a href="/show/{{sighting.id}}">view</a> |
                    {% if user.id == sighting.user.id %}
                    <a href="/edit/{{sighting.id}}">edit</a> |
                    <a href="/delete/sighting/{{sighting.id}}">delete</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
<!-- check to make sure recipe.id and sighting.user.id is valid -->
<!-- Make sure hrefs are valid -->