<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructions</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>
    .show-container {
        display: flex;
        justify-content: space-between;
    }
</style>
<body>
    <div class="show-container">
        <div class="header">
            <h1>Sasquatch Websighting</h1>
            <h3>{{sighting.location}} on {{sighting.date_of_sighting}}</h3>
        </div>
        <div class="header2">
            <p>
                {{user.first_name}} {{user.last_name}}
            </p>
            <a href="/user/dashboard">dashboard</a> |
            <a href="/logout">logout</a>
        </div>
    </div>
    <div class="description">
        <p>
            What Happened:
            {{sighting.what_happened}}
        </p>
        <p>
            # of Sasquatches:
            {{sighting.number_of_sasquatches}}
        </p>
        <p>
            Reported By:
            {{sighting.user.first_name}} {{sighting.user.last_name}}
        </p>
    </div>
</body>
</html>