<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>POST REQUESTS</title>

</head>

<body>
    <div class="container" style="text-align: center; margin-top: 200px;">
        {% with messages = get_flashed_messages() %}
        <!-- declare a variable called messages -->
        {% if messages %}
        <!-- check if there are any messages -->
        {% for message in messages %}
        <!-- loop through the messages -->

        <div style="background-color: red; color: white;width: 500px; padding: 20px; margin: auto 415px;">
            <p> {{message}}</p>
        </div>
        <!-- display each message in a paragraph tag -->
        {% endfor %} {% endif %} {% endwith %}
        <h1>Welcome {{logged_user.first_name}} {{logged_user.last_name}}</h1>
        <p>Your email is: {{logged_user.email}}</p>
        <p>Your password: {{logged_user.password}}</p>
        <a href="/user/logout">logout</a>
        <a href="/newpet/validate">Adopt a pet!</a>
        <a href="/users/page">Go back!</a>
        <table class="table table-striped">
            <thead>
                <th>User</th>
                <th>Id</th>
                <th>Animal</th>
                <th>Is it Cool?</th>
            </thead>
            <tbody>
                {% for pet in user.pets %}
                <tr>
                    <td>{{ user_name.first_name }}</td>
                    <td>{{pet.id}}</td>
                    <td>{{pet.animal}}</td>
                    <td>{{pet.cool}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</body>

</html>