<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update User</title>
</head>
<body>
    <form action="/users/{{user.id}}/update" method = "post">
        <p>
            First Name:
            <input type="tel" name = "first_name" value = "{{user.first_name}}">
        </p>
        <p>
            Last Name:
            <input type="tel" name = "last_name" value = "{{user.last_name}}">
        </p>
        <p>
            Email:
            <input type="tel" name = "email" value = "{{user.email}}">
        </p>
        <button>Update User!</button>
    </form>
    <a href="/">Go Back</a>
</body>
</html>